<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="author" content="Inovatik">

  <title>MLOPS</title>


  <link href="static/style.css" rel="stylesheet">
  
  <link rel="icon" href="">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
  {% block head %}{% endblock %}

</head>
<body>
<style>
td {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}
</style>
    {% block body %}{% endblock %}
</body>
</html>