{% extends 'base.html' %}


{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- My CSS -->
	<link rel="stylesheet" href="style.css">

	<title>AdminHub</title>
{% endblock %}

{% block body %}

	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">AdminHub</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Message</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-group' ></i>
					<span class="text">Team</span>
				</a>
			</li>
		</ul>

	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>

			<ul class="box-info">
				<li>
					<span class="text">
						<p style="font-size: 20px; font-weight: bold;">Project details</p><br>
						<p>We performed Sentiment analysis on the comments that are posted under a reddit post by getting live stream data using an API</p>
					</span>
				</li>
				<li>
					<span class="text">
						<p style="font-size: 20px; font-weight: bold;">Models used</p><br>
						<p>Here mention the model and its description</p>
					</span>
				</li>
				<li>
					<span class="text">
						<p style="font-size: 20px; font-weight: bold;">Team</p>br
						<p>Danyal Faheem : 19I-2014</p>
						<p>Faizan Ul Hassan : 19I-1976</p>
						<a href="https://github.com/faizanulhassan32/MLOPS-Assignment2">Github Link</a>
					</span>
				</li>
			</ul>


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Sentiment Analysis</h3>
					</div>
					<table>
						<thead>
							<tr>
								<th>Title</th>
								<th>Comment</th>
								<th>Prediction</th>
							</tr>
						</thead>
						<tbody>
							<!-- 
								completed = positive
								pending = negative
								process = neutral 
							-->
							{% for item in data %}
								<tr>
									<td>{{ item.title }}</td>
									<td>{{ item.comment }}</td>
									<td><span class="status {% if item.prediction == 'positive' %}completed{% elif item.prediction == 'negative' %}pending{% else %}process{% endif %}">{{ item.prediction|capitalize }}</span></td>
								</tr>
								{% endfor %}						
						</tbody>
					</table>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="static/script.js"></script>
{% endblock %}